body {
	line-height: 1.5;
	font-family: "Arial", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

a{
	color: royalblue;/*darkorange;*/
	text-decoration: none;
}

li{
	font-size: 110%;
	margin-top: 1em;
	margin-bottom: 0.2em;
}

body > article{
	width: 40em;
	margin-left : auto ; margin-right : auto;
	padding: 0.75em;
}

footer{
	text-align: center;
	padding: 0.75em;
	margin-top: 1em;
}

#subTitle{
	text-align: center;
	color: gray;
	margin-top: -1em;
}

#title{
	text-align: center;
	margin-top: 32px;
	font-size: 300%;
}

#analysis{
	float: right;
	margin-top: 1em;
}

@media screen and (max-width: 44em) {
	.panel{
		width: 90%;
		padding: 5%;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left : auto; margin-right: auto;
	}
}
