body {
line-height: 1.5;
background-color: transparent;
font-family: "ŸàƒSƒVƒbƒN", YuGothic, "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "Segoe UI Light", "AR ADGothicJP Medium", "ƒƒCƒŠƒI", Meiryo, sans-serif;
margin: 0px;
}

div{
text-align:center;
padding: 1.5em;
background-color: rgba(255,255,255,1);
border: outset 2.3px #FFFFFF;
border-radius: 2em;
}

span{
color: #FF9933;
font-size:120%;
}

table{
border-spacing: 1ex 0px;
height:40px;
background-color: rgba(255,255,255,1);
border: outset 2.3px #FFFFFF;
border-radius: 2em;
}

th{
width:1%;
}